<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navnar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">MemoApp</a>
    </nav>
    <div class="container">
      <div class="mt-3">
        <% if flash.notice.present? %>
          <div class='alert alert-success'>
            <%= flash.notice %>
          </div>
        <% end %>
        <% if flash.alert.present? %>
          <div class='alert alert-danger'>
            <%= flash.alert %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>

    <div>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
